/* .card-table{
   
    display: flex;
    flex-direction: column;
    width: 1000px;
    
 
     
}
.center .btn{
    font-size: 14px;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 5px;
} */

.Category{
    margin-top: 20px;
    margin-left: 50px;
}
.mat-raised-button{
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    min-height: 30px;
    line-height: 30%;
}
.card1{
    margin-right: 20px;
}
